<% if resource.errors.any? %>
  <div id="error_explanation" data-turbo-cache="false">
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= "<span class='alert alert-danger'>#{message}</span>"%></li>
      <% end %>
    </ul>
  </div>
<% end %>
